<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=30, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="https://code.responsivevoice.org/responsivevoice.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


</head>
<body style="background-color: black" onload="modo(2)">
    <div id="main-container">
        <div style="margin-bottom:50px; background-color:black" id="palavra-container">
                <div id="image"style="background-color:black">
                        <img  id="braille_img" src="../image/a.jpg" alt="Letra Braille" style="display:none"/>
                </div>
                <text style="background-color:white;height: 40px;width:160px;" id="palavra"></text>
        </div>
        <textarea  style="resize:none;text-align: center;font-size:80pt;text-transform:uppercase;display:none;" class="form-control" id="caixa-texto" readonly cols=15 rows=1></textarea>
        <textarea  style="resize:none;text-align: center;font-size:80pt;width: 160px;" class="form-control" id="caixa-braille" readonly cols=5 rows=1></textarea>
    </div><!--Fecha o container principal -->
    <audio id='playAcertou' style="display:none"><source src="../assets/audio/vinhetas/acertou.mp3" type="audio/mpeg"></audio>
</div><!--Fecha o container principal -->
</body>
<script  src="../assets/js/keysD.js"></script>
</html>