<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=/, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="https://code.responsivevoice.org/responsivevoice.js"></script>

</head>
<body style="background-color: black" onload="modo()">
   
    <div id="main-container">
        
        <textarea  class="form-control" id="caixa-texto" readonly cols=15 rows=5></textarea>
        <div style="height: 50pt;"></div>
        <textarea  class="form-control" id="caixa-braille" readonly cols=15 rows=5></textarea>
    </div><!--Fecha o container principal -->
   
</div><!--Fecha o container principal -->
</body>
<script  src="../assets/js/keys.js"></script>
</html>